.footer {
    height: 271px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background: #232323;
} 

.footer__slogan {
    font-size: 12px;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some-icons {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 30px;
   i {
       margin-left: 20px;
   }
   .fa-linkedin-in {
       color: #5474FD;
   }
}