.search-field {
    display: flex;
    flex-direction: row;
    &__input {
        background-color: white;
        width: 500px;
        height: 60px;
        border: none;
        &:focus {
            background-color: rgb(81, 117, 81);
        }
    }
    &__button {
        @extend %button;
        width: 153px;
        height: 60px;
        border: 1px solid white;
    }
}

::placeholder {
    font-size: 14px;
    color: #999999;
    text-align: center;
    font-family: fonts.$main-font;
}
