header {
    height: 820px;
    background-image: url('../images/header-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.header-logo {
    font-size: 48px;
    line-height: 26px;
}

.scroll-down {
    font-size: 14px;
    font-family: fonts.$main-font;
    color: white;
}

@import 'form';
@import 'nav';

@media screen and (max-width: 750px) {
    .search-field {
        width: 100%;
    }
    .navbar-list {
        display: none;
    }
    .dropdown-btn {
        display: inline;
    }
}