@use 'fonts';

@import 'logo';
@import 'slogan';
@import 'header';
@import 'about-us';
@import 'destinations';

body {
    background-color: grey;
    max-width: 1770px;
    width: 100%;
}

%button {
    background-color: #5474FD;
    color: white;
    font-size: 14px;
    font-family: fonts.$second-font;
}