@use 'fonts';

@import 'logo';
@import 'slogan';
@import 'header';
@import 'about-us';
@import 'destinations';
@import 'reviews';
@import 'footer';

body {
    background-color: grey;
    max-width: 1770px;
    width: 100%;
}

%button {
    background-color: #5474FD;
    color: white;
    font-size: 14px;
    font-family: fonts.$second-font;
    &:hover {
        background-color: rgb(68, 68, 100);
        cursor: pointer;
        transition: all .4s ease;
    }
    &:focus {
        border: 2px solid magenta;
    }
}